.blankButton {
  width: 12rem; 
  height: 3rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.signOutButton {
  font-size: 1.25rem;
  background-color: #dda400;
  color: #000000;
}
.signOutButton:hover {
  background-color: #b38600;
}

.popup {
  display: flex;
  width: 30rem;
  padding: 1.5rem 0;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 1rem; 
  background-color: #060606;
  z-index: 1002;
  opacity: 0%;
  transition: opacity 0.1s ease;
  pointer-events: none;
}
.popupVisible {
  border: 1px solid #dda400;
  opacity: 100%;
  pointer-events: all;
}

.popupText {
  font-size: 1.35rem;
  text-align: center;
  width: 25rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;
}

.progressLink {
  text-decoration: none;
}

.progressLinkText {
  color: #dda400;
  font-weight: bold;  
  padding: 0.5rem;
}
.progressLinkText:hover {
  color: #b38600;
}