.accountSection {
  height: 0rem;
  box-sizing: border-box;
  background-color: #424242;
  border: 0.5rem solid #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: height 0.4s ease-in-out; 
  gap: 1rem;
}
.accountSectionVisible {
  height: 10rem;
}

.blankButton {
  width: 12rem; 
  height: 3rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.deleteButton {
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #cc0000;
  color: #ffecec;
}
.deleteButton:hover {
  background-color: #aa0000;
}

.signInButton {
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 1.75rem;
  font-size: 1.5rem;
  background-color: #dda400;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}