.mainLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  height: 3.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  left: 1rem;
  top: 0.5rem;
}

.sidebarContainer {
  background-color: #424242;
  width: 14.5rem;
  height: 100%;
  position: fixed;
  top: 0;
  padding-top: 4.1rem;
  left: -15rem;
  transition: left 0.3s ease;
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarOpen {
  left: 0;
}

.sidebarLink {
  display: flex;
  align-items: center;
  width: 12.5rem;
  padding-left: 0.5rem;
  height: 3.25rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
  cursor: pointer;
  gap: 0.625rem;
  box-sizing: border-box;
}

.activeLink {
  border-left: 0.125rem solid yellow;
}

.sidebarLink:hover {
  background-color: #383838;
} 

.linkDividerLine {
  margin: 0.75rem 0;
}

.signInButton {
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 1.75rem;
  font-size: 1.5rem;
  background-color: #dda400;
  color: #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInButton:hover {
  background-color: #d09c00;
}
