.blankButton {
  width: 12rem; 
  height: 3rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.deleteButton {
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #cc0000;
  color: #ffecec;
}
.deleteButton:hover {
  background-color: #aa0000;
}

.signOutButton {
  font-size: 1.25rem;
  background-color: #dda400;
  color: #000000;
}
.signOutButton:hover {
  background-color: #b38600;
}

.popup {
  display: flex;
  width: 30rem;
  padding: 1.5rem 0;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 1rem; 
  background-color: #060606;
  z-index: 1002;
  opacity: 0%;
  transition: opacity 0.1s ease;
  pointer-events: none;
}

.signOutPopupVisible {
  border: 1px solid #dda400;
  opacity: 100%;
  pointer-events: all;
}

.popupText {
  font-size: 1.35rem;
  text-align: center;
  width: 25rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem;
}

.deletePopupVisible {
  border: 1px solid red;
  opacity: 100%;
  pointer-events: all;
}

.deleted {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #282828;
  position: absolute;
  z-index: 1004;
  font-size: 1.25rem;
  text-align: center;
  display: none;
}

.deletedVisible {
  display: grid;
}

.deletedContainer {
  display: grid;
  grid-template-rows: 8rem 5rem; 
  justify-items: center;
  align-items: center;
  margin-bottom: 12.5rem;
}

.deletedTextContainer {
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  background-color: #121212;
  border: 0.125rem solid white;
}

.deletedText {
  margin: 0.5rem;
}

.progressInfoContainer {
  width: 80%;
  height: 4rem;
  background-color: #121212;
  border: 0.125rem solid white;
  border-radius: 1rem;
  align-content: center;
  position: relative;
}

.progressLink {
  text-decoration: none;
}

.progressLinkText {
  color: #dda400;
  font-weight: bold;  
  padding: 0.5rem;
}
.progressLinkText:hover {
  color: #b38600;
}

.deletedButton {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 24rem;
  margin-top: 0.5rem;
  height: 3.75rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  text-decoration: none;
  background-color: #bfbfbf;
  color: #121212;
  border: 0.125rem solid #bfbfbf;
}

.deletedButton:hover {
  background-color: #121212;
  color: #d0d0d0;
  border: 0.125rem solid #ffffff;
}