.radioTextContainer {
  height: 93.1%;
  width: 33rem;
  border: 0.175rem solid #d09c00;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  scroll-behavior: smooth;
}

.wordsDataSearch {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: 0.175rem solid #d09c00;
  border-bottom: none;
  outline: none;
  color: white;
  height: 3rem;
  font-size: 1.75rem;
  margin: 0;
  display: flex;
  text-align: center;
}

.radioText {
  display: flex;
  width: 33.33333334%;
  box-sizing: border-box;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  font-size: 1.15rem;
  border: 0.175rem solid #585858;
  cursor: pointer;
  user-select: none;
}
.radioText:hover {
  background-color: #444444;
}

.radioTextSelected {
  background-color: #585858;
}
.radioTextSelected:hover {
  background-color: #585858;
}

.notFound {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-size: 1.7rem;
}