.selectedWordDisplayContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 50%;
  width: 33rem;
  border: 0.175rem solid #d09c00;
  text-align: center;
  gap: 2rem;
}

.selectedWord {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  height: 6rem;
}

.detailsLabel {
  font-size: 1.45rem;
}

.noDataLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96%;
  font-size: 1.7rem;
}