.level {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  /* line-height: 2.4rem;  */
  justify-content: center;
  user-select: none;
  cursor: pointer;
  font-size: 0.92rem;
  font-family: Sans-Serif;
  border: 0.175rem solid transparent;
  background-clip: padding-box;
  color: white;
}

.levelChecked {
  color: white;
  border: 0.175rem solid #e6ac00;
}