.checkboxLabel {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  /* line-height: 2.4rem;  */
  justify-content: center;
  user-select: none;
  cursor: pointer;
  font-size: 0.92rem;
  font-family: Sans-Serif;
}

.checkbox {
  display: none;
}

.checkboxChecked {
  color: white;
  border: 0.1875rem solid #e6ac00;
}

.checkboxNotChecked {
  border: 0.1875rem solid transparent;
  color: white;
  background-clip: padding-box;
}
